.coffeeSelector {
  display: flex;
  align-items: stretch;
}

.quantity-btn {
  background: #cf9775;
  padding: 10px 15px;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.decrease-btn {
  border-radius: 20px 0 0 20px;
  padding-right: 10px;
}
.increase-btn {
  border-radius: 0 20px 20px 0;
  padding-left: 10px;
}

.counter {
  margin: 0 15px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.coffeeSelector > button > svg {
  fill: white;
}

.decrease-btn:disabled {
  background: grey;
  cursor: auto;
}
