<div class="fullWidth">
  <ul class="list">
    <li>
      <img src="../../assets/espresso.svg" alt="espresso cup" />
      <span>Espresso</span>
      <img src="../../assets/right.svg" alt="Right" />
    </li>
    <li>
      <img src="../../assets/cappuccino.svg" alt="cappuccino cup" />
      <span>
        Cappucino
      </span>
      <img src="../../assets/right.svg" alt="Right" />
    </li>
    <li>
      <img src="../../assets/macciato.svg" alt="macciato cup" />
      <span>
        Macchiato
      </span>
      <img src="../../assets/right.svg" alt="Right" />
    </li>
    <li>
      <img src="../../assets/mocha.svg" alt="mocha cup" />
      <span>
        Mocha
      </span>
      <img src="../../assets/right.svg" alt="Right" />
    </li>
    <li>
      <img src="../../assets/latte.svg" alt="latte cup" />
      <span>
        Latte
      </span>
      <img src="../../assets/right.svg" alt="Right" />
    </li>
  </ul>
</div>
